<mat-toolbar>
    <button mat-icon-button (click)="getData()"><mat-icon>arrow_left</mat-icon></button>
    {{filename}}
    <span class="spacer"></span>
    <button mat-icon-button (click)="chatDrawer.toggle();"><mat-icon>chat</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container class="example-container" hasBackdrop="false" >
    <mat-sidenav #chatDrawer mode="over" position="end" class="side">
        <input type="text" style="width: calc(100% - 8px);" (keyup)="input($event)" [(ngModel)]="ttext" id="chat_in">
        <div id="chat">
        <div *ngFor="let msg of chat" >
            <div class="chat_author">{{msg.u}}</div> <div class="chat_text">{{msg.text}}</div>
        </div>
        </div>
        <mat-list>
            <mat-list-item *ngFor="let msg of connecteds">
                <mat-icon>person</mat-icon><span class=""></span>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div id="x-spreadsheet-demo"></div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  